@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: dimgrey;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }

  .footer--text {
    font-size: 0.8rem;
  }
}

h1, h2, h3, h4, h5,h6 {
  color: #3f3844;
}

.section {
  margin-bottom: 10rem;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.flex-item {
  justify-self: center;
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .flex {
    flex-direction: row;
  }
  .flex-item {
    text-align: left;
    padding: 3%;
    width: 50%;
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}

.img {
  width: 100%;
}

.justify-text {
  text-align: justify;
}

.text--center {
  text-align: center;
}

.text--dim {
  color: #c3c3c3;
}

.text--orange {
  background: -webkit-linear-gradient(
    45deg,
    orange 10%,
    orange 30%,
    blue 40%,
    blue 60%,
    red 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading--4 {
  margin-bottom: 3rem;
  font-size: 4rem;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  font-weight: 700;
}

.btn--block {
  text-align: center;
  display: block;
}

.btn--orange {
  background-color: red;
  background-image: linear-gradient(200deg, orange, red);
  color: #fff;
}

/* first-intro */
.first-intro {
  background-image: url(../assets/top-banner.png);
  background-repeat: no-repeat;
}

.first-intro__para {
  margin-bottom: 2rem;
}

/* islamic-life */
.islamic-life {
  background-image: url(../assets/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* life-story */
/* nothing here */

/* experiences */
.experiences {
  padding: 5%;
  background-image: url(../assets/exp-bg.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.experience-item-container {
  padding: 0;
}

.experience-item {
  margin: 2rem 0;
  padding: 3rem 1rem;
  border-radius: 20px;
  box-shadow: 0 0 40px gray;
  border-left: 5px solid;
  border-image: linear-gradient(red, blue);
  border-image-slice: 1;
  align-self: flex-start;
}

@media screen and (min-width: 700px) {
  .experience-item {
    padding-left: 3rem;
    margin-left: 3%;
    margin-right: 3%;
  }
}
